
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #161515;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


